html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
ol, ul {list-style: none;}
p, a, span{word-wrap:break-word;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
* {margin:0px; padding:0px;}
a{ text-decoration:none; outline:none;}
a:hover{ text-indent:0; cursor:pointer;}
img {border:0;}
ul{list-style: none}
* b{font-weight:normal;}
@font-face {
    font-family: 'dosissemibold';
    src: url('font/dosis-semibold-webfont.eot');
    src: url('font/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dosis-semibold-webfont.woff') format('woff'),
         url('font/dosis-semibold-webfont.ttf') format('truetype'),
         url('font/dosis-semibold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('font/opensans-regular-webfont.eot');
    src: url('font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-regular-webfont.woff') format('woff'),
         url('font/OpenSans-Regular.ttf') format('truetype'),
         url('font/opensans-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('font/opensans-bold-webfont.eot');
    src: url('font/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-bold-webfont.woff') format('woff'),
         url('font/opensans-bold-webfont.ttf') format('truetype'),
         url('font/opensans-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light';
    src: url('font/opensans-light-webfont.eot');
    src: url('font/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/opensans-light-webfont.woff') format('woff'),
         url('font/opensans-light-webfont.ttf') format('truetype'),
         url('font/opensans-light-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('font/roboto-regular-webfont.eot');
    src: url('font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-regular-webfont.woff') format('woff'),
         url('font/roboto-regular-webfont.ttf') format('truetype'),
         url('font/roboto-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-light';
    src: url('font/roboto-light-webfont.eot');
    src: url('font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/roboto-light-webfont.woff') format('woff'),
         url('font/roboto-light-webfont.ttf') format('truetype'),
         url('font/roboto-light-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa_bold';
    src: url('font/comfortaa_bold-webfont.woff') format('woff'),
         url('font/comfortaa_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato_bold';
    src: url('font/lato-bold-webfont.woff') format('woff'),
         url('font/lato-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.inner{width: 1090px;margin: 0 auto;position: relative;height: 72px;overflow: hidden;}
.header{height: 72px;width: 100%;background: #121213;position: fixed;top: 0;z-index: 10000;}
.install-button-top{position: absolute;right: 0;top: 9px;width: 243px;height: 54px;}
.install-button-top a.but{display: block;color:#121213;font-size: 19px;width: 179px;font-family: 'lato_bold';height: 54px;padding-left: 23px;padding-right: 40px;line-height: 54px;
background:#ffba1f url(img/button-arrow.png) 212px center no-repeat;-webkit-border-radius: 54px;-moz-border-radius: 54px;border-radius: 54px;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
.install-button-top:hover a.but{background:#fe7b1f url(img/button-arrow.png) 212px center no-repeat;}
.logo .brand{width: 184px;height: 23px;display: block;margin-top: 22px;}
.wrapper{overflow: hidden;position: relative;}

.page1{height: 642px;overflow: hidden;width:100%;position: relative;background: url(img/cmm1-bg.jpg) center no-repeat;background-size: 100% 100%;background-attachment: fixed;}
.part1{width: 600px;height: 400px;background:#fff;overflow: hidden;position: relative;margin:100px auto 65px auto}
.part1 .bluepart{background: #39465a;position: relative;}
.bluepart .downarrow{position: absolute;width: 18px;height: 9px;background: url(img/downarrow.png) center no-repeat;bottom: -9px;left: 50%;margin-left: -15px;}
.part1 .entermailid{width:430px;height:45px;line-height: 45px;text-align: center;color: #222;font-size: 16px;position: absolute;left: 50%;margin-left: -216px;top:112px;border:none;border-radius: 4px;}
.part2{height:454px;background: #121213;padding-left: 150px;overflow: hidden;}

.part1 .note1{font-family: helvetica;font-weight: bold;font-size:36px;color: #fff;line-height: 40px;text-align: center;padding: 50px 0 110px 0;}
.dark{color: #121213}

.note2{font-size: 12px;color: #818080;line-height: 17px;font-family:helvetica;padding-top: 15px;margin:0 20px;text-align: center;border-top: 1px solid #d4d7d9;}
.note2 a{color: #818080;text-decoration: underline;}

.install-button-mid{width: 331px;height: 54px;margin: 30px auto}
.install-button-mid a.but{border:1px solid #357cea;display: block;color:#fff;font-size: 25px;width: 246px;font-family:helvetica;font-weight: bold;height: 52px;padding-left: 68px;padding-right: 14px;line-height: 52px;
background:#4e8ef2 url(img/button-img.png) 20px 13px no-repeat;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;}
.install-button-mid:hover a.but{background:#165bf2 url(img/button-img.png) 20px 13px no-repeat;}

.footertop{height: 50px;line-height: 50px;}
.footertop ul{display: flex;justify-content:center;}
.footertop ul li{display: inline-block;}
.footertop ul li a{color: #fff;border-right: 1px solid #fff;font-size: 16px;font-family: helvetica;padding: 0 13px;font-weight: bold;}
.footertop ul li a.nobrd{border-right:none;}




.uparrow{position: absolute;width: 18px;height: 9px;background: url(img/uparrow.png) center no-repeat;bottom: 0px;left: 50%;margin-left: -15px;z-index: 9999;}
.page2{height: 519px;overflow: hidden;width: 100%;position: relative;background:#38465b}
.page2 .page2-note1{color: #fff;text-align: center;font-family:verdana;font-size: 20px;line-height: 25px;margin: 40px 0;}

.page2-inner{border-top: 1px solid #6b7483;overflow: hidden;width: 880px;margin: 0 auto;color: #fff;text-align: center;font-family:verdana;}
.page2-note2{font-size: 38px;padding-top:145px;background: url(img/page2-img.png) center 26px no-repeat; }
.page2-note3{font-size: 15px;margin-top: 20px;line-height: 24px;}
.install-button2 a{display: block;color: #fff;background: #4e8ef2 url(img/page2-arrow.png) 86% center no-repeat;width:148px;height: 55px;line-height: 55px;padding-left: 30px;padding-right: 50px;border-radius: 4px;margin: 20px auto}
.install-button2{height: 55px;line-height: 55px;width: 199px;margin: 0 auto}
.install-button2:hover a{background: #165bf2 url(img/page2-arrow.png) 86% center no-repeat;}
.page3{overflow: hidden;font-family: verdana}
.page3 h2{font-size: 18px;color: #39465a;font-family: verdana;font-weight: normal;text-align: center;padding:25px 0 45px;background: url(img/page3-arrow.png) center bottom no-repeat;margin-bottom: 30px;}
.main-sec{overflow: hidden;width: 100%;}
.main-sec.scnd{background: #fafafa}
.page3-sect{width: 800px;margin: 0 auto;padding:50px 0px}
.page3-sect h3{padding-left: 223px;color: #4e8ef2;font-size: 25px;font-weight: normal;margin-bottom: 10px;height: 30px;line-height: 30px;}
.page3-sect p{padding-left: 223px;font-size: 15px;color: #39465a;line-height: 20px;}

.img1{background: url(img/page3-img1.png) left center no-repeat;}
.img2{background: url(img/page3-img2.png) left center no-repeat;}
.img3{background: url(img/page3-img3.png) left center no-repeat;}

.page4{font-family: verdana;background: #fafafa url(img/page4-img.png) center 130px no-repeat;text-align: center;color: #39465a;padding: 21px 0;margin-bottom: 30px;}
.page4 h3{font-size: 33px;line-height: 40px;margin-bottom: 7px;}
.page4 p{font-family: 15px;line-height: 20px;}
.three{margin:35px auto 15px auto !important;}

.back-to-top{position: absolute;bottom: 10px;right: 30px;font-size: 12px;font-family: verdana;color: #39465a}



 /*------------------------------overlay-----------------------------------*/
    .main-overlay {position: fixed;width: 100%;height: 100%;z-index: 100001;display: none;}
    .genOverlayBg {background: rgba(0,0,0,0.8);position: fixed;width: 100%;height: 100%;display: block;}
    .extension-text{text-align: center;font-size: 27px;line-height: 32px;width:407px ;color: #fff;font-family:verdana;top: 370px;position: absolute;background: url(img/new-fly.png) center 38px no-repeat;padding-top: 267px;
    padding-bottom: 116px;left: 50%;margin-left: -168px;background-size: 41% 43%;}
    .extension-text span{font-family: verdana;}


    /*bounce animation*/
.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }