/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input { outline: none !important;  }

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('fonts/OpenSans-Semibold.eot');
    src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Semibold.woff') format('woff'),
         url('fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('fonts/OpenSans-Semibold.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-regular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-bold-webfont.woff') format('woff'),
         url('fonts/opensans-bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

a { text-decoration: none; display: block; }

/*input:focus::-webkit-input-placeholder {
    opacity: 0;
}*/

.part1 { overflow: hidden; display: block; background: url('img/bg1.jpg') no-repeat 0 0; width: 100%; height: 875px; background-size: 100% 100%; }
.cont1 {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 80px;
    left: 80px;
    background: #fff;
    width: 370px;
    height: 530px;
    border-radius: 8px;
    -webkit-border-radius: 8px; -moz-border-radius: 8px; position: relative;
}
.cont2 { display: none; text-align: center; width: 545px; height: 225px; background: #fff; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; position: absolute; top: 50%; left: 50%; margin-top: -200px; margin-left: -272px; }
.cont2 h3 { 
    color: #f79622; font-size: 30px; font-family: 'opensans-bold'; overflow: hidden; word-wrap: break-word; line-height: 35px; 
}
.cont2 p { margin: 25px 0px; overflow: hidden; word-wrap: break-word;font-family: 'OpenSans-Semibold'; font-size: 14px; color: #2c2c2c; line-height: 18px; }
.submitBtn3 {
    font-family: 'OpenSans-Semibold'; 
    width: 132px;
    height: 48px;
    color: #fff;
    border: 0;
    display: block;
    border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
    padding: 0px 40px 0px 10px;
    background: #4285f4 url('img/arx1.png') no-repeat 88% center;
    font-size: 20px; line-height: 48px; margin: 0 auto;
}

.padd { padding: 20px; overflow: hidden; }
.cont1 h3 {
    font-family: 'OpenSans-Semibold'; 
    font-size: 16px;
    color: #2c2c2c;
    overflow: hidden;
    word-wrap: break-word;
    line-height: 25px;
}
.directions {
    overflow: hidden;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid #e1e1e1;
    margin-bottom: 5px;
}
.icns {
    background: url(img/icn1.png) no-repeat center center;
    width: 22px;
    height: 90px;
    float: left;
    margin: 15px 15px 0 0;
}
.txtbx {
    overflow: hidden;
}
input.inputbx {
    font-family: 'OpenSans-Semibold'; 
    width: 240px;
    height: 30px;
    background-color: #f2f2f2;
    color: #a2a2a2;
    padding: 10px 40px 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
    font-size: 14px;
    display: block;
}
input.inputbx:focus { background-color: #fff; border-color: #ccc; }

.inp2 { background-image: url('img/pin1.png'); background-repeat: no-repeat; background-position: 95% center; }

.submitBtn {
    font-family: 'OpenSans-Semibold'; 
    width: 160px;
    height: 38px;
    color: #fff;
    border: 0;
    display: block;
    border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px;
    padding: 0px 30px 0px 10px;
    background: #4285f4 url('img/arx1.png') no-repeat 88% center;
    font-size: 14px; line-height: 38px; cursor: pointer;
}

.btm {
    overflow: hidden;
    height: 107px;
}
.trvl {
    font-family: 'opensans-regular' !important;
    font-size: 15px;
    color: #2c2c2c;
    line-height: 25px;
    margin-bottom: 8px;
}
.travelModes {
    overflow: hidden;
    display: block;
}
.travelModes span { float: left; width: 42px; height: 42px; display: block; margin-right: 25px; }
.travelModes span:last-child { margin: 0; }
.car { background: url('img/car.png') no-repeat center center; background-size: 42px 42px; }
.car.active { background-image: url('img/car-hover.png'); }
.bus { background: url('img/bus.png') no-repeat center center; background-size: 42px 42px; }
.bus.active { background-image: url('img/bus-hover.png'); }
.rail { background: url('img/rail.png') no-repeat center center; background-size: 42px 42px; }
.rail.active { background-image: url('img/rail-hover.png'); }
.cycle { background: url('img/cycle.png') no-repeat center center; background-size: 42px 42px; }
.cycle.active { background-image: url('img/cycle-hover.png'); }
.walk { background: url('img/walk.png') no-repeat center center; background-size: 42px 42px; }
.walk.active { background-image: url('img/walk-hover.png'); }


.optns {
    position: absolute;
    width: 100%;
    left: 0px;
    background: #f2f2f2;
    height: 163px;
}
.padd2 { padding: 10px 20px; overflow: hidden; }
.padd2 h3 { margin-bottom: 5px; }
label { font-size: 15px; color: #2c2c2c; font-family: 'opensans-regular'; margin-left: 5px; }
.topOptns {
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.part2 {
    position: relative;
    min-height: 1000px;
}
.content {
    overflow: hidden;
    margin: 0 auto;
    width: 700px;
    text-align: center;
}
.arrow {
    width: 19px;
    height: 19px;
    background: url(img/arrow1.png) no-repeat center center;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -9px;
    z-index: 1000;
    cursor: pointer;
}
.hdr { text-align: center; font-size: 25px; color:#2c2c2c; overflow: hidden; word-wrap: break-word; font-family: 'opensans-regular'; background: url('img/shadow1.png') no-repeat bottom center; padding-bottom: 10px; height: 60px; line-height: 60px; margin-bottom: 15px; }
.hdr span { font-family: 'OpenSans-Semibold' !important; color: #4285f4; }
.secImg { background: url('img/secImg1.jpg') no-repeat center center; width: 328px; height: 82px; background-size: 100% auto; margin: 35px auto; }
.content p { font-size: 18px; color: #2c2c2c; line-height: 25px; word-wrap: break-word; overflow: hidden; font-family: 'opensans-regular'; }
.content p span { font-family: 'OpenSans-Semibold' !important; }
.sepr { background: url('img/sepr.jpg') no-repeat center center; width: 100%; height: 10px; margin: 30px auto; }

.innerContent { display: block; overflow: hidden; }

.innerContent ul li {
    height: 73px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 20px;
}
.innerContent ul li span.img { width: 73px; height: 73px; overflow: hidden; float: left; margin-right: 15px; }
.img1 { background: url('img/indiImg1.png') no-repeat center center; }
.img2 { background: url('img/indiImg2.png') no-repeat center center; }
.img3 { background: url('img/indiImg3.png') no-repeat center center; }

.indiImg {
    float: left;
    width: 225px;
    height: 73px;
    overflow: hidden;
    margin-right: 30px;
}

.indiCont {
    overflow: hidden;
    height: 60px;
    padding: 0 5px;
    word-wrap: break-word;
    font-size: 15px;
    color: #2c2c2c;
    font-family: 'opensans-regular';
    line-height: 20px;
    padding-top: 13px;
}
span.imgCt {
    overflow: hidden;
    word-wrap: break-word;
    font-size: 18px;
    color: #2c2c2c;
    font-family: 'opensans-bold';
    padding: 0 5px;
    display: block;
    height: 50px;
    margin-top: 12px;
    border-right: 1px solid #000;
    line-height: 25px;
}

.innerContent2 { display: block; overflow: hidden; }
.freeCnt { font-family: 'opensans-bold'; font-size: 30px; color:#2c2c2c; line-height: 40px; overflow: hidden; word-wrap: break-word; }
.innerContent2 p { font-size: 20px; font-family: 'opensans-regular'; margin: 20px 0px 30px 0px; }
.btnSubmt { border: 0; width: 160px; height: 50px; color: #fff; font-size: 20px; font-family: 'opensans-regular'; padding: 0 45px 0 15px; line-height: 50px;
    border-radius: 40px; background:#4285f4 url('img/arx2.png') no-repeat 86% center; margin: 0 auto; }

.footLinks { overflow: hidden; margin: 35px 0px 20px 0px; }

.footLinks ul { overflow: hidden; text-align: center; display: flex;
    justify-content: center; }

.footLinks ul li {
    overflow: hidden;
    float: left;
    margin-right: 15px;
    padding: 0 15px 0 0;
    border-right: 1px solid #ccc;
    font-size: 10px; line-height: 15px;  font-family: 'opensans-regular';
}
.footLinks ul li:last-child { border: 0; }


.footLinks ul li a { color:#2c2c2c; text-decoration: none; }

.tt-menu { top: -20px !important; margin: 0 0; padding: 0 0; /*width: 94%;*/ z-index: 10000; background-color: #fff; z-index: 10000; border: 1px solid #ccc; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2); box-shadow: 0 5px 10px rgba(0,0,0,.2); font-size: 14px; color: #222; background-color: #fff !important; position: relative !important; -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; *top: 0px !important;  }
.tt-dataset { padding: 0px 0px 0px 0px; /*font-weight: bold; */  }
.tt-suggestion { line-height: 25px; font-size: 16px; line-height: 22px; cursor: default; padding: 5px 10px; cursor: pointer; }
.tt-suggestion:hover { background: #eee !important; }
.tt-suggestion:last-child { border-bottom: 0px; }
/*.tt-highlight { font-weight: normal !important; }*/
.tt-cursor { background: #eee !important; }
.autoactive { background-color: #eee; }
.autolistvalues { padding: 0 9px; display: block; }